<footer>
    <div>Created by - CA Akhilesh Kumar Kandpal, ACA, ISA, M. Com(F&T)
        <p>This tool is open source. You can only use it for yourself and can also share with other through URL. You cannot share it for any money or any other consideration.</p>
    </div>
</footer>
<script src="index.js"></script>
</body>
</html>