<footer>
    <div>Created by - CA Akhilesh Kumar Kandpal, ACA, ISA, M. Com(F&T)
        <p>Contact as follow for any info or consultation in respect Taxation, Corporate Law, Audit etc-</p>
        <p>Email - info@gstninja.in, gstninjaindia@gmail.com</p>
        <p>Mobile - 9654114541,8700182482</p>
        <p>This tool is open source. You can only use it for yourself and can also share with other through URL. You cannot share it for any money or any other consideration.</p>
    </div>
</footer>
<script src="index.js"></script>
</body>
</html>