<footer>
    <div>Created by - CA Akhilesh Kumar Kandpal, ACA, ISA, M. Com(F&T)
        <p>This tool is for self use only and not for distribution for money or other consideration. You may however share this tools with other for help them without any consideration.</p>
    </div>
</footer>
<script src="index.js"></script>
</body>
</html>