<div>
    <h1>TOOL TO CONVERT GSTR 1 JSON FILE TO HTML TABLE AND TO DOWNLOAD IN EXCEL FILE</h1>
    <h3>Steps:-</h3>
    <ul>
        <li>Unzip the downloaded zip file from GSTN portal.</li>
        <li>Open unzipped JSON file with notepad or any other text editor.</li>
        <li>Copy the entire text from JSON file and paste in the below text area.</li>
        <li>Clixk on submit button.</li>                                
    </ul>
    <h3>Now you may either inspect or view the file in html or download in Excel using Export B2B or Export CN buttons.</h3>
</div>